

  <!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html">cdnjs</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="./index.html">Search</a>
          </li>
          <li class="">
            <a href="http://github.com/cdnjs/cdnjs">Add a library</a>
          </li>
          <li class="">
            <a href="https://github.com/cdnjs/cdnjs/issues?direction=desc&sort=created&state=open">Feedback</a>
          </li>
               <li class="">
            <a href="https://cdnjs.com/test.html">Browser Extension - Beta</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

