{{#each assets}}
    <tr class="version">
        <td class="versionlabel">{{version}}</td>
    </tr>
    {{#each files}}
        <tr class="library">
            <td>
                <p>//cdnjs.cloudflare.com/ajax/libs/{{../../name}}/{{../version}}/{{this}}</p>
            </td>
        </tr>
    {{/each}}
{{/each}}
