<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>cdnjs - the missing cdn</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="All CDNJS code is open source and driven by the community, we welcome users to fork!">
  <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="clear"></div>
        <div class="main-menu-container">
            <div class="navbar ">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="./index.html">cdnjs</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="./index.html">Search</a></li>
                                <li class=""><a href="http://github.com/cdnjs/cdnjs">Add a library</a></li>
                                <li class=""><a href="https://github.com/cdnjs/cdnjs/issues?direction=desc&sort=created&state=open">Feedback</a></li>
                                <li><a href="https://www.cloudflare.com/network-map">Our network</a></li>
                                <li><a href="http://stats.pingdom.com/4jg86a2wqei0">Uptime</a></li>
                                <li><a href="https://github.com/cdnjs/cdnjs/wiki/Extensions%2C-Plugins%2C-Resources">Plugins</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page">
            <div class="row">
                <div class="span7">
                    <p>
                        Everyone loves the <a target="_blank" href="http://code.google.com/apis/libraries/devguide.html">Google CDN</a> right? Even <a href="http://www.asp.net/ajaxlibrary/cdn.ashx" target="_blank">Microsoft runs their own CDN</a>.<br />The problem is, they only host the most popular libraries.
                        <br />
                        We host it all - JavaScript, CSS, SWF, images, etc!
                    </p>
                    <p style="margin-top: 6px;">
                        Supports http/https/spdy, we encourage leaving the protocol <a href="http://paulirish.com/2010/the-protocol-relative-url/">off</a>! <br />
                        Track when libraries are added and updated with our <a href="http://cdnjs.com/rss.xml">RSS feed</a>.
                    </p>
                    <table style="margin-top: 15px; margin-bottom: 15px;">
                        <thead>
                            <tr><td style="width: 115px;"><strong>Creators</strong></td><td></td></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 145px;">
                                    <a href="http://ryankirkman.com" style="margin-right: 10px;"><img src="https://si0.twimg.com/profile_images/2356734808/pj6n40841wh0akh3o9dw_bigger.png" style="height: 30px; width: 30px; border: 1px solid #444;" /></a>
                                    <a href="http://ryankirkman.com">Ryan Kirkman</a>
                                </td>
                                <td style="width: 200px;">
                                    <a href="http://twitter.com/ryan_kirkman" class="twitter-follow-button">Follow @ryan_kirkman</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 145px;">
                                    <a href="http://github.com/thomasdavis" style="margin-right: 10px;"><img src="https://si0.twimg.com/profile_images/3132126007/c1d2a116f09bd4fb1ff742ea49e54a9b_bigger.jpeg" style="height: 30px; width: 30px; border: 1px solid #444;" /></a>
                                    <a href="http://github.com/thomasdavis">Thomas Davis</a>
                                </td>
                                <td style="width: 200px;">
                                    <a href="http://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 145px;">
                                    <a href="http://github.com/lockyc" style="margin-right: 10px;"><img src="https://plus.google.com/s2/photos/profile/116251728973496544370" style="height: 30px; width: 30px; border: 1px solid #444;"></a>
                                    <a href="http://github.com/lockyc">Lachlan Collins</a>
                                </td>
                                <td style="width: 200px;">
                                    <a href="//plus.google.com/116251728973496544370?prsrc=3" rel="publisher" style="text-decoration:none;">
                                    <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                </div><!--Span7-->
                <div class="span5">
                    <div class="">
                        At CloudFlare, we believe that open source, community-driven projects like CDNJS are the tools upon which the future of the internet will be built. CloudFlare is proud to provide the global CDN infrastructure that will help power that future.<br /><br />
                        <a href="http://cloudflare.com"><img style="margin-bottom: 20px; " src="img/poweredbycloudflare.png"></a>
                    </div>
                </div>
            </div>
            <div class="row" ng-app>
                <div class="span12">
                    <div class="">
                        <div class="packages-table-container">
                            <table style="margin-top: 10px;" cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>Library</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(packages, function(package){ if(typeof package.name !== 'undefined') { %>
                                        <tr class="odd gradeX">
                                            <td style="white-space: nowrap;">
                                                <a href="<%= package.homepage %>"><%= package.name %></a>
                                                <!-- hidden text for searching -->
                                                <div style="display: none;">
                                                    <%= package.description %>
                                                    <%= package.homepage %>
                                                    <%= package.keywords && package.keywords.join(', ') %>
                                                </div>
                                            </td>
                                            <td style="padding: 0; width: 100%;">
                                                <div style="position: relative; padding: 8px;">
                                                    <p style="padding: 0; margin: 0">
                                                        <input type="text" class="input-block-level" style="margin: 0" readonly value="//cdnjs.cloudflare.com/ajax/libs/<%= package.name %>/<%= package.version %>/<%= package.filename %>">
                                                    </p>
                                                    <div class="filesandversions">
                                                        <table class=" table table-bordered" style="margin-top: 20px;" id="<%= package.name.replace('.', '') %>">

                                                        </table>
                                                    </div>
                                                    <button package-name="<%= package.name %>" class="btn btn-mini btn-primary btn-version-files" >Versions &amp; Files&nbsp;<i class="icon-white icon-chevron-down"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    <% } }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="clear"></div>
        <span class="build-time"><%= new Date() %></span>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.2/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.4/handlebars.runtime.min.js" type="text/javascript"></script>
    <script src="cdnjs.handlebars.js" type="text/javascript"></script>

    <script>
        $('#example').dataTable({
            "sDom": "<'row'<'span12'f>r>t<'row'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
             "bPaginate": false,
            "oLanguage": {
              "sLengthMenu": "_MENU_ records per page"
            }
          });

        $('input[readonly]').on('mouseenter', function (event) {
          $(this).select();
        });

        var packages = null;
        var template = null;

        $(document).ready(function(){
            $(".btn-version-files").on("click", function(e){
                e.preventDefault();
                var package_name = $(e.currentTarget).attr('package-name');
                if (template == null) {
                    template = Handlebars.templates['cdnjs'];
                }
                $("#" + package_name.replace('.', '')).html(template(load_versions(package_name)))
                $(this).siblings('.filesandversions').slideToggle(200);
                $(this).siblings('.filesandversions').find('input[readonly]').on('mouseenter', function (event) {
                    $(this).select();
                });
            });
            load_packages(true);
        });

        (function($){
            load_versions = function(package_name) {
                load_packages(false);
                var pkgLength = packages.length;
                for (var i = 0; i < pkgLength; i++) {
                    if (packages[i].name == package_name){
                        return packages[i];
                    }
                }
            }
        })(jQuery);

        (function($){
            load_packages = function(asyncBool) {
                if (packages == null) {
                    $.ajax({
                        dataType: "json",
                        url: 'packages.min.json?' + new Date().getTime(),
                        async: asyncBool,
                        success: function(data){
                            packages = data.packages;
                        }
                    });
                }
            }
        })(jQuery);

        var fby = fby || [];
        fby.push(['showTab', {id: '4178', position: 'right', color: '#FF1F3A'}]);
        (function () {
            var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
            f.src = '//cdn.feedbackify.com/f.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
        })();
    </script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66376315); }catch(err){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66376315ns.gif" /></p></noscript>
</body>
</html>